<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
</head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
  <div class="header">
    <h1>Student Management System</h1>

  </div>
  <div class="form-style-5">
  <h2><center> Registration</center></h2>
  <form action="setStudent" method="POST">
    <input type="text" name="roll" placeholder="Roll No" required />
    <br /><br />
    <input type="text" name="name" placeholder="Name" required />
    <br /><br />
    <input type="text" name="age" placeholder="Age" required />
    <br /><br />
    Indian : <input type="radio" name="indian" value="true" /> Yes <input type="radio" name="indian" value="false" /> No
    <br /><br />
    <select name="gender">
      <option value="">Select a Gender</option>
      <option value="0">Male</option>
      <option value="1">Female</option>
      <option value="2">Other</option>
    </select>
    <br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
  <br /><br /><br />
  <div class="form-style-5">
    <h2><center>Search by Roll No</center></h2>
  <form action="getStudent" method="GET">
    <input type="text" name="roll" placeholder="Roll No" />
    <input type="submit" value="Search" />
  </form>
  </div>

  <br /><br /><br />
  <div class="form-style-5">
    <h2><center>Fee Payment</center></h2>

  <form action="feePayment" method="POST">
    <input type="text" name="roll" placeholder="payemnt of (roll no)"/>
    <input type="text" name="payer" placeholder="account address of payer"/>
    <input type="text" name="amount" placeholder="amount in wei"/>
    <input type="submit" value="Pay Fee"/>
  </form>
  </div>

  <br /><br /><br />
  <div class="form-style-5">
    <h2><center>Certificate Upload</center></h2>
  <form action="uploadCertificate" method="POST" enctype="multipart/form-data">
    <input type="text" name="rollno" placeholder="Enter rollno"/>
    <br>
    <input type="file" name="certificate"/>
    <br>
    <input type="submit" value="Upload Certificate"/>
  </form>
</div>
<br /><br /><br />
<div class="form-style-5">
  <h2><center>Certificate View</center></h2>
<form action="viewCertificate" method="GET" >
  <input type="number" name="rollno" placeholder="Enter rollno"/> 
  <input type="submit" value="View Certificate"/>
</form>	
</div>	

</body>

</html>